.cus-m-n .editable-cell {
  position: relative;
}

.cus-m-n .editable-cell-input-wrapper,
.cus-m-n .editable-cell-text-wrapper {
  padding-right: 24px;
}

.cus-m-n .editable-cell-text-wrapper {
  padding: 5px 24px 5px 5px;
}

.cus-m-n .editable-cell-icon,
.cus-m-n .editable-cell-icon-check {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.cus-m-n .editable-cell-icon {
  line-height: 18px;
  display: none;
}

.cus-m-n .editable-cell-icon-check {
  line-height: 28px;
}

.cus-m-n .editable-cell:hover .editable-cell-icon {
  display: inline-block;
}

.cus-m-n .editable-cell-icon:hover,
.cus-m-n .editable-cell-icon-check:hover {
  color: #108ee9;
}

.cus-m-n .editable-add-btn {
  margin-bottom: 8px;
}

:host ::ng-deep .ant-table-expanded-row > td:last-child {
  padding: 0 48px 0 8px;
}

:host ::ng-deep .ant-table-expanded-row > td:last-child .ant-table-thead th {
  border-bottom: 1px solid #e9e9e9;
}

:host ::ng-deep .ant-table-expanded-row > td:last-child .ant-table-thead th:first-child {
  padding-left: 0;
}

:host ::ng-deep .ant-table-expanded-row > td:last-child .ant-table-row td:first-child {
  padding-left: 0;
}

:host ::ng-deep .ant-table-expanded-row .ant-table-row:last-child td {
  border: none;
}

:host ::ng-deep .ant-table-expanded-row .ant-table-thead > tr > th {
  background: none;
}

:host ::ng-deep .table-operation a.operation {
  margin-right: 24px;
}
