<ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'" class="cus-real-line-height">
  <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed"
     (click)="clickToCollapsed()"></i>
  <li nz-submenu class="cus-float-right">
    <span title><i class="anticon anticon-poweroff cus-mar-cen"></i> {{realUserName}}</span>
    <ul>
      <li nz-menu-group>
        <span title>设置</span>
        <ul>
          <li nz-menu-item>个人设置</li>
          <li nz-menu-item (click)="layout()">退出</li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-menu-item nzDisabled class="cus-float-right">
    <nz-avatar [nzText]="realUserName" nzSize="large" [ngStyle]="{'background-color':'#00a2ae'}" style="vertical-align: middle;"></nz-avatar>
  </li>
  <!--<li nz-menu-item nzDisabled class="cus-float-right"><nz-tag [nzColor]="'magenta'">Admin</nz-tag></li>-->
</ul>

