<ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'" class="cus-real-line-height">
  <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed"
     (click)="clickToCollapsed()"></i>
  <li nz-menu-item class="cus-float-right"><i class="anticon anticon-poweroff cus-mar-cen"></i></li>
  <li nz-menu-item nzDisabled class="cus-float-right">
    <nz-avatar [nzText]="textCus" nzSize="large" [ngStyle]="{'background-color':'#00a2ae'}" style="vertical-align: middle;"></nz-avatar>
  </li>
  <!--<li nz-menu-item nzDisabled class="cus-float-right"><nz-tag [nzColor]="'magenta'">Admin</nz-tag></li>-->
</ul>

