<div class="logo">
</div>
<ul nz-menu [nzTheme]="'light'" [nzMode]="isCollapsed?'vertical':'inline'" [nzInlineCollapsed]="isCollapsed" *ngFor="let cus of menusCus">
    <li *ngIf="cus.sub.length <= 0" nz-menu-item [nzSelected]="cus.checkOpen">
      <a [uiSref]="cus.key" uiSrefActive="active" class="application-cus-real-dus-color">
        <span>
          <i [ngClass]="cus.icon"></i>
          <span class="nav-text">{{cus.title}}</span>
        </span>
      </a>
    </li>
    <li *ngIf="cus.sub.length > 0" nz-submenu [nzOpen]="cus.checkOpen">
      <span title>
        <i [ngClass]="cus.icon"></i>
        <span class="nav-text">{{cus.title}}</span>
      </span>
      <ul *ngFor="let cusSub of cus.sub">
        <li nz-menu-item [nzSelected]="cusSub.checkOpen">
          <a [uiSref]="cusSub.key" uiSrefActive="active" class="nav-text-cus-app"><i [ngClass]="cusSub.icon"></i>{{cusSub.title}}</a>
        </li>
      </ul>
    </li>
</ul>

